In [1]:
# program to display student's marks from record
student_name='Sitra'
marks={'james':80,'john':78,'Ayodele':88}
for student in marks:
    if student==student_name:
        print(marks[student])
        break
    else:
        print('No entry with that name found.')

No entry with that name found.
No entry with that name found.
No entry with that name found.

In [2]:
var=10
print(var)

10

In [5]:
num1=10
num2=20
print(num1+num2)

30

In [6]:
num1=input("Enter First number:")
num2=input("Enter Second number:")
sum=num1 + num2
print("the sum of the two numbers is", sum)

Enter First number: 45
Enter Second number: 76

the sum of the two numbers is 4576

In [7]:
num1=int(input("Enter First number:"))
num2=int(input("Enter Second number:"))
sum=num1 + num2
print("the sum of the two numbers is", sum)

Enter First number: 45
Enter Second number: 76

the sum of the two numbers is 121

In [9]:
# how to switch value 
val1= input("Enter First value: ")
val2= input("Enter Second value: ")
val1=val2
val2=val1
print(val1, val2)

Enter First value:  56
Enter Second value:  86

86 86