In [1]:
var=10
print(var)

10

In [3]:
var=23
print(var)

23

In [5]:
X=45
print(X)

45

In [6]:
num1=10
num2=20
print(num1+num2)

30

In [8]:
num1 = input("Enter First number")
num2 = input("Enter Second number")
print(num1+num2)

Enter First number 67
Enter Second number 45

6745

In [9]:
num1 = input("Enter First number")
num2 = input("Enter Second number")
sum = num1 + num2
print("the sum of the two number is", sum)

Enter First number 44
Enter Second number 56

the sum of the two number is 4456

In [10]:
num1 =int(input("Enter First number"))
num2 =int(input("Enter Second number"))
sum = num1 + num2
print("the sum of two numbers is", sum)

Enter First number 44
Enter Second number 56

the sum of two numbers is 100

In [11]:
num1 =int(input("Enter First number"))
num2 =int(input("Enter Second number"))
num3 =int(input("Enter Third number"))
sum = num1 + num2 + num3
print("the sum of three numbers is", sum)

Enter First number 35
Enter Second number 67
Enter Third number 85

the sum of three numbers is 187

In [12]:
num1 =int(input("Enter First number"))
num2 =int(input("Enter Second number"))
num3 =int(input("Enter Third number"))
num4 =int(input("Enter Fourth number"))
sum = num1 + num2 + num3 + num4
print("the sum of the four numbers is", sum)

Enter First number 25
Enter Second number 56
Enter Third number 74
Enter Fourth number 108

the sum of the four numbers is 263

In [13]:
val1 = input("Enter First number")
val2 = input("Enter Second number")
val1 = val2
val2 = val1
print(val1, val2)

Enter First number 65
Enter Second number 37

37 37

In [14]:
val1 = input("Enter First number")
val2 = input("Enter Second number")
temp = val2
val2 = val1
val1 = temp
print(val1, val2)

Enter First number 40
Enter Second number 68

68 40

In [16]:
a = 10
b = 3.14
c = 2 + 3j
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

10
3.14
(2+3j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [17]:
x = 2    # int
y = 3.8  # float
z = 4j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2.0
3
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [1]:
#from W3 Python tutorial
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello, World"
print(type(x))

<class 'str'>

In [3]:
x = 20.5
print(type(x))

<class 'float'>

In [4]:
x = 1j
print(type(x))

<class 'complex'>

In [5]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [7]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [8]:
x = range(6)
print(type(x))

<class 'range'>

In [9]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [10]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [11]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [12]:
x = True
x = False
print(type(x))

<class 'bool'>

In [13]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [14]:
x = bytearray(7)
print(type(x))

<class 'bytearray'>

In [15]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [17]:
x = None
print(type(x))

<class 'NoneType'>